[Desktop Entry]
Type=Action
Tooltip=Unzip contents
Name=Unzip
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/zip
Exec=smart-unzip.sh %f
Name=Default profile